.Auth-container{
    background-image: url('assets/bg.png') ;
    background-position: center center;
    background-size: cover;
}
.bg-overLay{
    background: linear-gradient(to left, rgba(0,0,0,.63),rgba(55, 140, 47, 0.63));
}
.ps-sidebar-container{
    background-color: #1F263E !important;
    color: white;
    height: 100vh !important;

}
.ps-menu-button:hover {
    background-color: rgba(0, 148, 71,0.4)!important;
}
